
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>IMPORTANT MESSAGE</h1>
<p>THIS PAGE IS <em>EXTREMLY</em> IMPORTANT</p><p> to the function of this app.It <b>SHOW</b> us that it is work </p>
<p>Thanks for your attention</p>
